html {
    width: 70%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

.main_title, .title_h2, .title_h3 {
    font-family: Arial, sans-serif;
}

h3, h1, h2 {
    clear: both
}

.main_title {
    font-size: 26px;
}

.title_h2 {
    font-size: 20px;
}

.main_title, .title_h2 {
    box-shadow: 0 2px 0 aliceblue;
    border-bottom: 2px solid dimgray;
    text-align: center;
}

.main_topic, .topic {
    text-align: justify;
    box-shadow: 0 2px 0 aliceblue;
    border-bottom: 2px solid dimgray;
}

.topic {
    min-height: 200px;
    padding-bottom: 20px;

}

.img_text {
    text-align: center;
    padding-bottom: 5px;
}

.text_gallery {
    font-size: 0.8em;
    justify-content: space-between;
}

p {
    font-size: 1.1em;
}

.quote {
    color: navy;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 50px;
    padding-left: 10px;
    border-left: 2px solid dimgray;

}

#Content {
    padding-bottom: 30px;
}

#Content ol {
    display: block;
    list-style-type: decimal;
    margin: 0.1em 0;
    padding-left: 40px;
    border: 1px;
}
#Content a:link {
    text-decoration: none;
    color: #000
}
#Content a:visited {
    text-decoration: none;
}
#Content a:hover {
    text-decoration: underline;
}

#Content a:active {
    text-decoration: underline;
}

.gallery {
    float: right;
    padding-right: 30px;
    margin-left: 60px
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    border: 1px solid #542a07;
    min-width: 152px;
    width: 350px;
    min-height: 152px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/*---------------geolocation-------------*/

.geolocation {
    display: flex;
    min-width: 152px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

/*---------app_store, google_play----------*/

.download_an_app {
    width: 100%;
    display: flex;
    border-bottom: 1.5px solid green;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;

}

.app_store, .google_play, .facebook, .instagram, .twitter {
    display: flex;
    padding: 15px;
    margin: 15px;
}

/*------------------footer-----------*/
.footer {
    display: flex;
    border-top: 3px solid green;
    justify-content: center;
    max-height: none;
    padding: 0;
    flex-basis: 20%;
    margin: 10px;
}

.faq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}