html {
    width: 70%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

body {
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3, h1, h2 {
    clear: both
}

p {
    font-size: 1.1em;
}

hr {
    height: 1px;
    background-color: dimgray;
}

#Content ol {
    display: block;
    list-style-type: decimal;
    margin: 0.1em 0;
    padding-left: 40px;
    border: 1px;
}

#Content a:link {
    text-decoration: none;
    color: #000
}

#Content a:visited {
    text-decoration: none;
}

#Content a:hover {
    text-decoration: underline;
}

#Content a:active {
    text-decoration: underline;
}


#houston {
    text-align: justify
}

.weather {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid black;
    width: auto;
}

.weather td, .weather th {
    border: 1px solid black;
    padding: 8px;
}

.weather td:hover {
    background-color: #ffa905;
}

.weather th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
}

div.gallery {
    float: right;
    padding-right: 30px;
    margin-left: 60px
}

div.img_text {
    text-align: center;
    padding-bottom: 5px;
}

div.topic {
    text-align: justify;
    min-height: 200px;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    border: 1px solid #542a07;
    min-width: 152px;
    width: 350px;
    min-height: 152px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.geolocation {
    display: flex;
    /*flex-wrap: wrap;*/
    /*border: 1px solid #542a07;*/
    min-width: 152px;
    width: 100%;
    /*min-height: 152px;*/
    margin: 20px;
    padding: 20px;
    justify-content: center;
    /*text-align: center;*/
    /*line-height: 75px;*/
    /*font-size: 30px;*/
}

/*---------app_store, google_play----------*/

.download_an_app {
    width: 100%;
    display: flex;
    /*flex-direction: row;*/
    border-bottom: 1.5px solid green;
    align-items: center;
    justify-content: center;
    /*align-content: space-around;*/
    margin: 0 50px 0 50px;

}

.app_store, .google_play, .facebook, .instagram, .twitter {
    display: flex;
    padding: 15px;
    margin: 15px;
}

/*------------------footer-----------*/
.footer {
    display: flex;
    border-top: 3px solid green;
    justify-content: center;
    max-height: none;
    padding: 0;
    flex-basis: 20%;
    margin: 10px;
}

.faq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}