html {
    width: 60%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

.container {
    display: flex;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid maroon;
    color: yellow;
}

.title, .content, .image, .header, .description {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    background: #8383e7;
    flex-basis: 100%;
    height: auto;
}

.title, .content, .image {
    padding: 25px 10px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background: #bec8d7;
    flex-grow: 1;
    height: 50px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    column-gap: 3px;
    justify-content: space-around;
    align-items: flex-end;
    background: #c6d917;
    flex-grow: 15;
    height: 50px;
}

.item_menu_1, .item_menu_2, .item_menu_3, .item_menu_4 {
    height: auto;
    width: auto;
    padding: 5px;
    color: #380707;
    background: #6bee27;
}

.search {
    display: flex;
    row-gap: 2px;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 35px 5px;
    justify-content: flex-start;
    align-items: center;
    background: #1765d9;
    width: 95%;
    height: auto;
}

.search > div, .title > div {
    height: auto;
    width: auto;
    background: #aad592;
    flex-basis: 100%;
}

.search > div > h2, .search > div > h3 {
    margin: 5px;
}

.search div:last-child {
    height: 30px;
    padding: 10px;
    width: auto;
    flex-grow: 1;
    background: #aad592;
    font-size: 17px;
    border: none;
}

.title > div > h2, .title > div > h3, .title > div > h3 {
    margin: 5px;
}

.image_row_1, .image_row_2, .image_row_3, .offers {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    background: #86e719;
    width: 100%;
    height: 200px;
    padding: 10px;
}

.image_row_1 > div {
    flex-grow: 1;
}

.image_row_1 > div, .image_row_2 > div, .image_row_3 > div {
    height: auto;
    background: #ce9bdc;
    padding: 5px;
}

.image_row_2 > div:first-child {
    flex-grow: 70;
}

.image_row_2 > div:last-child {
    flex-grow: 30;
}

.image_row_3 > div:first-child {
    flex-grow: 30;
}

.image_row_3 > div:last-child {
    flex-grow: 70;
}

.offers_image {
    flex-grow: 1;
    background: #dc1313;
}

.offers_title {
    flex-grow: 3;
    background: #dc1313;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: flex-start;
    background: #bec8d7;
    flex-basis: 100%;
    height: auto;
}

.footer_items {
    display: flex;
    row-gap: 2px;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    align-items: center;
    background: #d9b217;
    height: auto;
    flex-grow: 2;
}

.footer_items > div {
    height: auto;
    width: 100%;
    background: #ce9bdc;
    padding: 5px;
}

.footer_items > div:first-child {
    height: 40px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
    background: #e3e317;
    height: auto;
}

.social > div {
    height: 40px;
    flex-grow: 2;
    background: #650680;
    padding: 5px;
    border-radius: 50%;
}
