
html {
    width: 60%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

.container {
    display: flex;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid maroon;
    color: yellow;

}

.color_navy {
    background: navy;
}

.color_blue {
    background: blue;
}

.widgets {
    width: 100%;
    height: 150px;

}

.big_widgets {
    align-self: end;
    flex-grow: 30;
    height: 300px;
}

.contact {
    width: 100%;
    height: 300px;
}
