html {
    width: 70%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

.container {
    display: flex;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: silver;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid #380707;


}

.A {
    width: 100%;
    height: 150px;
    background: antiquewhite;

}

.B {
    align-self: end;
    background: aliceblue;
    flex-grow: 70;
    height: 300px;
}

.C {
    background: bisque;
    flex-grow: 30;
    height: 300px;
}
