@media screen and (max-width: 992px) {
    .header__menu {
        display: none;
    !important;
    }

    .navbar_none {
        display: none;
    }

    .header__contact {
        flex-direction: column;
        row-gap: 5px;
        margin-top: 25px;
    }

    .header__main {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        row-gap: 15px;
    }

    .header__logo img {
        width: 50px;
        padding: 20px 14px;
    }

    .wrapper {
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;
        position: relative;
        margin: 0;
    }

    .nav__btn_mobile {
        display: flex;
        padding: 26px 17px;
    }

    .header__title {
        text-align: center;
    }

    .header__title h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .header__title h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .header__title p {
        font-size: 18px;
        line-height: 26px;
    }

    .header__title p::before,
    .header__title p::after {
        display: none;
    }

    .header__phone {
        border: none;
    }

    .header__introduction {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .history {
        margin-top: 950px;
    }

    .history h2 {
        margin: auto;
        width: 80%;
        text-align: center;
    }

    .header {
        height: 880px;
        padding: 20px;
    }

    .history__content {
        padding: 20px;
        height: auto;
        width: 100%;
    }

    .history__menu {
        flex-direction: column;
        row-gap: 22px;
    }

    .history_photo {
        max-width: 100%;
        height: auto;
        padding: 10px;
    }

    .history_item_iphone {
        display: block;
    }

    .history_item {
        display: none;
    }

    .history_main_image {
        display: none;
    }

    .history__footer {
        display: flex;
        margin-top: 85px;
        flex-direction: column;
        column-gap: 23px;
        row-gap: 23px;
        height: auto;
    }

    .history__footer_text {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 20px 15px;
    }

    .history__footer_text h3 {
        margin: 0 auto;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        padding: 20px 15px;
    }

    .history__footer_text p {
        text-align: center;
        padding: 20px 15px;
        margin: auto;
    }

    .history__footer_button {
        width: auto;
        padding: 15px;
    }

    .intro {
        top: -200px;
    }
}

@media screen and (max-width: 1390px) {
    .history {
        margin-top: 950px;
    }

}