
html {
    width: 50%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

.container {
    display: flex;
    padding: 10px;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid maroon;
    color: yellow;
}

.home, .about {
    background: #1765d9;
    height: 300px;
}

.kabobs {
    background: #1765d9;
    flex-basis: 100%;
    height: 200px;
}

.shishkabobs, .bbq_kabobs, .summer_kabobs {
    background: #072056;
    height: 150px;
}

/*______________________________*/
.item_width_grow {
    flex-grow: 2;
}



