
html {
    width: 60%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

.container {
    display: flex;
    padding: 10px;
    column-gap: 2px;
    row-gap: 2px;
    flex-wrap: wrap;
    text-align: center;
    border: 2px solid maroon;
    color: yellow;
}

.flex_element_A {
    background: #9f7070;
    flex-basis: 100%;
    height: 150px;
}

.group {
    display: flex;
    row-gap: 2px;
    column-gap: 1px;
    flex-wrap: wrap;
    flex-grow: 7;
    height: 250px;
    justify-content: space-around;
    align-items: center;

}

.flex_element_B {
    background: #e1bb02;
    flex-basis: 100%;
    height: 50%;
}

.group_element_value {
    flex-grow: 3;
    height: 50%;

}

.flex_element_C {
    background: #97cc7a;

}

.flex_element_D {
    background: #22b6e1;
}

.flex_element_E {
    background: #dc3f3f;
}

.flex_element_F {
    background: #c151de;
    flex-grow: 3;

}
