
html {
    width: 70%;
    margin: 1.5em auto 1.1em;
    background-color: silver;
}

/*-------------/////////////////---------*/

.display_flex_row_wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.element_position_text_align_center {
    text-align: center;
}

.height_auto {
    height: auto;
}

.display_flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.display_flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/*-------------/////////////////---------*/

.container {
    padding: 10px;
    border: 2px solid maroon;
    color: yellow;
}

.content {
    background: #8383e7;
    flex-grow: 7;
}

/*--------------- .items---------------*/

.item_1, .item_2, .item_3, .item_4, .item_5, .item_6, .item_7 {
    column-gap: 5px;
    row-gap: 5px;
    color: yellow;
    background: #072056;
}

.item_1 {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: #1765d9;
    flex-basis: 100%;
    height: 50px;
}

.item_2 {
    flex-grow: 2;
    background: #1765d9;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}

.item_3 {
    background: #1765d9;
    height: 200px;
    flex-basis: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.item_4 {
    background: #1765d9;
    flex-basis: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.item_5 {
    background: #1765d9;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.item_6 {
    background: #1765d9;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
}

.item_7 {
    background: #1765d9;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

}

/*---------------item>div----------*/
.item_1 > div {
    height: 80%;
    width: 20%;
    background: #aad592;
}

.item_2 > div {
    height: 20px;
    width: 80%;
    background: #aad592;
}

.item_3 > div {
    height: 100%;
    width: 100%;
    background: #aad592;
}

.item_4 > div {
    height: 50px;
    flex-grow: 2;
    background: #aad592;
}

.item_5 > div {
    height: 30px;
    width: 40%;
    background: #aad592;
}

.item_5 div:last-child {
    height: 10%;
    width: 23%;
    font-size: 14px;
}

.item_6 > div {
    height: 20px;
    width: 80%;
    background: #aad592;
}

.item_7 > div {
    height: 30px;
    width: 40%;
    background: #aad592;
}

/*------------@media (max-width: 1280px) -------------*/
@media (max-width: 1280px) {

    .container {
        background: #fff;
    }

    .item_2 {
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-around;
        padding: 10px;
    }

    .item_4 {
        height: 100px;
    }

    .item_5 {
        flex-basis: 100%;
    }

    .item_6 {
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    /*---------------item>div----------*/
    .item_2 > div {
        flex-grow: 1;
    }

    .item_4 > div {
        flex-basis: 45%;
    }

    .item_6 > div {
        height: 28%;
        width: 45%;
    }

    .item_6 div:last-child {
        height: 95%;
        width: 45%;
    }

    .item_1 > div, .item_2 > div, .item_3 > div, .item_4 > div, .item_5 > div, .item_6 > div, .item_7 > div {
        background: #b78585;
    }
}

/*------------@media (max-width: 980px) -------------*/

@media (max-width: 980px) {
    .container {
        background: #89fa64;
    }

    .item_1, .item_2, .item_3, .item_4, .item_5, .item_6, .item_7 {
        text-align: center;
    }

    .item_1 {
        align-items: flex-end;
        height: 70px;
    }

    .item_2 {
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-around;
        padding: 10px;
    }

    .item_4 {
        height: 100px;
    }

    .item_5 {
        flex-basis: 100%;
    }

    .item_6 {
        flex-basis: 100%;
        flex-wrap: nowrap;
    }

    /*---------------item>div----------*/
    .item_1 > div {
        height: 40%;
        width: 40%;
    }

    .item_2 > div {
        flex-grow: 1;
    }

    .item_4 > div {
        height: 50%;
        flex-basis: 45%;
    }

    .item_5 > div {
        height: 12%;
        width: 45%;
    }

    .item_6 > div {
        height: 20%;
        width: 95%;
    }

    .item_6 div:last-child {
        height: 200px;
        width: 95%;
    }

    .item_1 > div, .item_2 > div, .item_3 > div, .item_4 > div, .item_5 > div, .item_6 > div, .item_7 > div {
        background: #da9346;
    }
}
